.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;     
    width: 921px;
    height: 500px;
}

.grid-container app-card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
    width: 921px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.grid-container app-card:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;    
    width: 307px;    
    border-radius: 0.5rem;
}

.grid-container app-card:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.flex-container {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 23rem;
    border-radius: 8px;
}
    

@media (max-width: 480px) {
    .flex-container {
        width: 100vh;        
    }

    .grid-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 351px;
        width: 351px;
        height: 1326px;
}

.grid-container app-card:nth-child(1) {
    grid-area: 1 / 1 / 4 / 2;
    width:351px;
    height: 1326px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.grid-container app-card:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    width: 351px;    
    height: 442px;    
    border-radius: 0.5rem;
}

.grid-container app-card:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
    width: 351px;
    height: 442px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
}